@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

:root {
  --ckr-1: #9ed9dc;
  --ckr-2: #89d1e1;
  --ckr-3: #79c9e7;
  --ckr-4: #6fbfee;
  --ckr-5: #6fb3f3;
  --ckr-6: #78a6f5;
  --ckr-7: #8997f3;
  --ckr-8: #9e85ea;
  --ckr-9: #b271da;
  --ckr-10: #c45ac4;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

body {
    background-color: #000;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.custom-button {
    flex-grow: 1;
    padding: 15px 0;
    font-size: 16px;
    background-color: var(--ckr-9);
    font-family: 'Baloo Bhaina 2', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.custom-button:hover {
    background-color: var(--ckr-4);
}

.key-projects-section {
    position: relative;
    margin: 5px auto;
    max-width: 100%;
    padding: 2px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.key-projects-section::before {
    content: "";
    position: absolute;
    inset: -2px;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), 
        var(--ckr-1), var(--ckr-2), var(--ckr-3), var(--ckr-4), var(--ckr-5), 
        var(--ckr-6), var(--ckr-7), var(--ckr-8), var(--ckr-9), var(--ckr-10), 
        var(--ckr-9), var(--ckr-8), var(--ckr-7), var(--ckr-6), var(--ckr-5), 
        var(--ckr-4), var(--ckr-3), var(--ckr-2), var(--ckr-1));
    animation: rotation 20s linear infinite;
    border-radius: 17px;
}

.key-projects-section:hover::before {
    animation: rotation 10s linear infinite;
}

.key-projects-section:hover {
    transform: translateY(-5px);
}

.key-projects-section h2 {
    color: #fff;
    text-align: center;
    font-family: 'Baloo Bhaina 2', sans-serif;
}

.key-projects-section p {
    color: #ddd;
    text-align: justify;
    font-family: 'Baloo Bhaina 2', sans-serif;
}
