:root {
    --ckr-1: #456687;
    --ckr-2: #4d678f;
    --ckr-3: #586695;
    --ckr-4: #65669a;
    --ckr-5: #73649c;
    --ckr-6: #82629d;
    --ckr-7: #905f9b;
    --ckr-8: #9f5c97;
    --ckr-9: #ac5990;
    --ckr-10: #b85687;
  }
  

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-items: center;
}

.project-card {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
    position: relative;
    overflow: visible;
    transition: transform 0.2s ease-in-out;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.project-image .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    animation: pop-up-down 2s infinite ease-in-out;
}

.no-image {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 1rem;
    border-radius: 8px;
}

.project-role {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    color: #8997f3;
}

.project-description {
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: 8px;
    min-height: 60px;
}

.project-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.tool {
    background: #000000;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 0.8rem;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.project-links a {
    border: none;
    padding: 0;
    display: inline-block;
}

.no-projects {
    grid-column: span 3;
    text-align: center;
    color: gray;
    font-size: 1.2rem;
}

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.project-card::before,.project-card::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), 
      var(--ckr-1), var(--ckr-2), var(--ckr-3), var(--ckr-4), var(--ckr-5), var(--ckr-6), 
      var(--ckr-7), var(--ckr-8), var(--ckr-9), var(--ckr-10), 
      var(--ckr-9), var(--ckr-8), var(--ckr-7), var(--ckr-6), var(--ckr-5), 
      var(--ckr-4), var(--ckr-3), var(--ckr-2), var(--ckr-1));
    animation: rotation 20s linear infinite;
    pointer-events: none;
}

  .project-card::after{
    filter:blur(1rem);
  }
  
  .project-card:hover::before,
  .project-card:hover::after {
      transform: scale(1.005);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
      opacity: 1;
  }

  .project-links img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
    filter: invert(1) brightness(1000%);
  }
  
  .project-links img:hover {
    transform: scale(1.2);
  }